<section class="border-b-14 border-black bg-neutral-100 bg-bottom-right bg-contain bg-no-repeat {{ page.hero.image_class }}">
  <div class="container mx-auto relative z-2">
    <div class="px-8">
      <div class="flex flex-row items-center justify-between min-h-screen pt-20 gap-12 text-3xl">
        <ul>
          {% assign headline_classes = 'font-thin|font-light|font-medium' | split: '|' %}
          {% for item in page.hero.headlines %}
            {% assign item_class = headline_classes[forloop.index0] | default: 'font-bold mt-4' %}
            <li class="{{ item_class }}">{{ item }}</li>
          {% endfor %}
        </ul>
        <div class="relative max-w-85">
          <div class="absolute inset-0 border border-gray-200 rotate-16 rounded bg-gray-100 shadow-md p-4 pb-10 -top-6">
            <div class="border border-3 bg-neutral-100 rounded w-full h-full"></div>
          </div>
          <div class="absolute inset-0 border border-gray-400 rotate-13 rounded bg-gray-50 shadow-lg p-4 pb-10 top-2">
            <div class="border border-3 bg-stone-300 rounded w-full h-full"></div>
          </div>
          <div class="relative rotate-5 border rounded bg-white shadow-xl p-4 pb-10 flex flex-col items-center">
            <img
              src="{{ '/assets/harrison-in-2026.jpeg' | relative_url }}"
              alt="Harrison Okins, genuinely smiling (see the wrinkles around the eyes) in January 2026."
              class="border border-3 rounded mb-8"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
