<section class="border-b-14 border-black bg-neutral-100 bg-bottom-right bg-contain bg-no-repeat {{ page.hero.image_class }}">
  <div class="container mx-auto relative z-2">
    <div class="px-8">
      <div class="flex flex-row items-center justify-between min-h-screen py-20 gap-12 text-3xl">
        <ul>
          {% assign headline_classes = 'font-thin|font-light|font-medium' | split: '|' %}
          {% for item in page.hero.headlines %}
            {% assign item_class = headline_classes[forloop.index0] | default: 'font-bold mt-4' %}
            <li class="{{ item_class }}">{{ item }}</li>
          {% endfor %}
        </ul>
        <div class="relative max-w-85">
          <div class="absolute inset-0 rotate-20 rounded bg-gray-100 shadow-md p-4 pb-10 -top-2">
            <div class="border bg-neutral-100 rounded w-full h-full"></div>
          </div>
          <div class="absolute inset-0 rotate-13 rounded bg-gray-50 shadow-lg p-4 pb-10 top-2">
            <div class="border bg-stone-300 rounded w-full h-full"></div>
          </div>
          <div class="relative rotate-5 rounded bg-white shadow-xl p-4 pb-10 flex flex-col items-center">
            <img
              src="{{ page.hero.image.src | relative_url }}"
              alt="{{ page.hero.image.alt }}"
              class="border rounded mb-8"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
